@model PayCallBackViewModel

<h2>Ödeme Başarılı</h2>
<p>Status: @Model.Status</p>
<p>PaymentId: @Model.PaymentId</p>
<p>ConversationData: @Model.ConversationData</p>
<p>ConversationId: @Model.ConversationId</p>
<p>MDStatus: @Model.MDStatus</p>